<div class="item">

    {{input type="checkbox" name="checkbox" checked=checked onclick=(action "updateChecked")}}

    {{#if checked}}
      <strike>{{text}}</strike>
    {{else}}
      {{text}}
    {{/if}}


    <button type="button" name="edit">edit</button>
    <button type="button" name="save">save</button>

</div>
