<div class="item">

    <input type="checkbox" name="checkbox" value={{checked}}>

    {{text}}

    <button type="button" name="edit">edit</button>
    <button type="button" name="save">save</button>

</div>
