/* welcome Page */
.welcome-page {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
  float: center;
}

/* Style the navigation bar */
.main-nav {
 width: 100%;
 background-color: #555;
 overflow: auto;
 margin-top: 0px; !important
}

/* Navbar links */
.links a {
 float: right;
 text-align: center;
 padding: 12px;
 color: white;
 text-decoration: none;
 font-size: 17px;
}

.logo a {
 float: left;
 text-align: center;
 padding: 12px;
 color: white;
 text-decoration: none;
 font-size: 17px;
}

/* Navbar links on mouse-over */
.main-nav a:hover {
 background-color: #000;
 text-decoration: none;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
 .main-nav a {
   float: none;
   display: block;
 }
}
