<div class="pop-up-bg"></div>

<div class="pop-up">
  <a href="#" class="btn-back">
    <span class="sr-only">Back</span>
  </a>

  <div class="pop-up-heading">
    <div class="title">
      <h3>Edit list name</h3>
    </div>
  </div>
</div>
