<div class="card">
  <div class="card-heading">
    <h1>
    {{model.name}}
    </h1>
  </div>
  <div class="body">
    <ul>
      {{#each this.model.items as |item|}}
        {{total-item checked=item.checked text=item.text onClick=(action "CheckedSaved")}}
      {{/each}}
    </ul>
  </div>
</div>
