<div class="card">
  <div class="card-heading">
    {{model.name}}
  </div>
  <div class="body">
    <ul>
      {{#each model as |item|}}
        {{item.checked}} {{item.text}}
      {{/each}}
    </ul>
  </div>
</div>
