<div class="card">
  <div class="card-heading">
    {{this.model.attribute.name}}
  </div>
  <div class="body">
    <ul>
      {{#each this.model as |item|}}
        {{total-item checked=item.checked text=item.text}}
      {{/each}}
    </ul>
  </div>
</div>
