<div class="app">
  <nav class="main-nav">
    <div class="logo">
      <h1>
        {{#link-to "index"}}
          <img src="" alt="TodoList">
        {{/link-to}}
      </h1>
    </div>

    <div class="links">
      {{#link-to "lists"}}Lists{{/link-to}}
      <a href="#">Sign up</a>
      <a href="#">Log in </a>
      <a href="#">Log out</a>
    </div>
  </nav>

  <main class="app-content">{{outlet}}</main>
</div>
