<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder="Search your lists by name" value=search}}
  </div>

  <a href="#">
    <div class="sr-only">Add New List</div>
  </a>
</div>

<div class="panel-content">
  <h3 class="panel-title">Lists</h3>

  <ul class="collection">
    {{#each model as |list|}}
      {{lists-list-item name=list.name tagName="li"}}
    {{/each}}
  </ul>
</div>

{{outlet}}
